./backend/config.go
/backend/config.go
backend/config.go

./config.go
/config.go
config.go

./frontend/planner/node_modules
/frontend/planner/node_modules
frontend/planner/node_modules

./node_modules
/node_modules
node_modules